{
  "presets": [
    ["es2015", {"modules": false}],
    //Webpack understands the native import syntax, and uses it for tree shaking

    "stage-0",
    //State 2 is "draft", 4 is finished, 0 is strawman.

    "react"
    //Transpile React components to JS
  ],
  "plugins": [
    "react-hot-loader/babel"
    //Enables React code to work with HMR.
  ]
}
