.Main {
  margin: 0;
  padding: 0;

  &__video-container {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -2;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }

  &__video {
  }

  &__mask {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background: rgba(0, 0, 0, .55);
    z-index: -1;
  }

  &__content {
    display: flex;
    flex-direction: column;
    color: #fff;
    text-align: center;
    z-index: 1;
  }

  &__title {
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1;
  }

  &__email-form {

  }

  &__email {

  }

  &__button {

  }


}
